<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi impacto ambiental - Administrador</title>
    <link href="/organizacion/styleOrganizacion.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
        <h1>MI IMPACTO AMBIENTAL</h1>
        <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Administrador</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse navbarLinks" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <h3 id="nombreUsuario">--NOMBRE USUARIO--</h3>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Acciones
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="./registroAgSec.html">Registrar agente sectorial</a></li>
                      <li><a class="dropdown-item" href="./registroOrg.html">Registrar organización</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../login/login.html">Cerrar sesión</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
<main style="background-color: #b854b8;">
    <h1>MODIFICAR VALORES FACTOR DE EMISION</h1>
    <h3 style="background-color: rgb(175, 174, 174); margin-bottom: 0;">LISTADO DE TIPOS DE CONSUMO</h3>
    <div style="background-color: white; height: 300px;">
        <table id="listaOrganizaciones" style="width: 100%;">
            <tr style="border-bottom: 2px solid black;">
                <th>Medio transporte</th>
                <th>Modelo</th>
                <th>Valor actual</th>
                <th>Valor nuevo</th>
                <th> </th>
            </tr>
            {{#each transportes}}
                <tr style="margin-top: 15px"  class="opcionOrg org{{id_organizacion}}" onClick="elegirOrg({{id_organizacion}})">
                <form method = "post" action = "/administrador/{{admin.id}}/actualizar_fe_transporte/{{id}}">
                  <th>{{nombre}}</th>
                  <th>{{modelo}}</th>
                  <th>{{fe}}</th>
                  <th>
                    <input type="text" class="form-control" name="valor_fe" placeholder="Ingrese nuevo FE...">
                  </th>
                  <td><button type="submit" class="btn btn-primary">MODIFICAR VALOR</button></td>
                  </form>
                </tr>
              {{/each}}
        </table>
    </div>
</main>
<footer style="background-color: black;">
    <p style="color: white;">@2022 Todos los derechos reservados</p>
</footer>
<!-- JavaScript Bundle with Popper -->
<script src="../../Public/navbar.js"></script>
<script src="miembro/unirseAOrg.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>

</body>
</html>