<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi impacto ambiental - Administrador</title>
    <link href="/organizacion/styleOrganizacion.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h1>MI IMPACTO AMBIENTAL</h1>
        <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Administrador</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse navbarLinks" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <h3 id="nombreUsuario">--NOMBRE USUARIO--</h3>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./indexAdmin.html">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Acciones
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="./registroAgSec.html">Registrar agente sectorial</a></li>
                      <li><a class="dropdown-item" href="#">Registrar organización</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../login/login.html">Cerrar sesión</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <main style="background-image: linear-gradient(to left, #5b8362, #34f03e);">
        <h1>REGISTRAR ORGANIZACION</h1>
        <form method = "post" action="/administrador/{{administrador.id}}/crear_org/{{organizacion.id}}" style="display: flex; flex-direction:column; align-items:center; margin-top: 3rem;">
            <h4>Introduzca los siguientes datos</h4>

            <input style="width: 75%;" class="form-control" name = "nombre_usuario" placeholder = "Nombre de usuario">
            <input style="width: 75%;" class="form-control" name = "contrasenia" placeholder = "Contraseña" type = "password">
            <input style="width: 75%;" class="form-control" name = "email" placeholder = "Email">
            <input style="width: 75%;" class="form-control" name = "telefono" placeholder = "Telefono">
            <input style="width: 75%;" class="form-control" type="text" placeholder="Razón social" name = "razon_social">
            <div style="display: flex; flex-direction:row; margin-top: 1rem;">
                <select style="margin-right: 3rem;" class="form-select" aria-label="Default select example" name = "tipo_org">
                    <option value="" selected>Tipo Organización</option>
                    <option value="Gubernamental">Gubernamental</option>
                    <option value="ONG">ONG</option>
                    <option value="Empresa">Empresa</option>
                    <option value="Institucion">Institucion</option>
                  </select>
                <input style="margin-left: 10%;" class="form-control" type="text" placeholder="Clasificación" name = "clasificacion">
            </div>
            <div style="display: flex; flex-direction:row; margin-top: 1rem;">
                <div style="margin-right: 5rem;">
                    <input type="text" class="form-control" placeholder="Calle" name = "calle">
                    <input type="text" class="form-control" placeholder="Altura" name = "altura">
                </div>
                <div>
                  <select class="form-select" id="selectProvincia" aria-label="Default select example" name = "provincia">
                    <option value="" selected>Provincia</option>
                    {{#each provincias}}
                    <option class="" value="{{id}}">{{nombre}}</option>
                    {{/each}}
                  </select>
                  <select class="form-select localidades" aria-label="Default select example" name = "localidad">
                    <option value="" selected>Localidad</option>
                    {{#each localidades}}
                    <option class="" value="{{id}}">{{nombre}}</option>
                    {{/each}}
                  </select>

                  <select name = "sector">
                    <option value = "" selected>Sector territorial</option>
                    {{#each sectorterritorial}}
                    <option value = "{{id}}">{{nombre}}</option>
                    {{/each}}
                  </select>

                    <button type="submit" class="btn btn-lg" style="background-color: rgb(0, 0, 0); margin-top: 4rem; color: white;">REGISTRAR ORG</button>

                </form>
                </div>

                <div style="display:flex; justify-content:center; align-items:center">
                    <button type="button" class="btn btn-lg btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        SECTORES
                      </button>
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Sectores</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div id="bloqueCantSectores" style="display: flex;">
                                <form method = "post" action = "/administrador/{{administrador.id}}/crear_org/{{organizacion.id}}/agregar_sector">
                                <input id="cantidad" type="text" class="form-control" name = "nombre_sector" placeholder="Nombre Sector">
                                <button type="submit" class="btn btn-primary">OK</button>
                                </form>

                              </div>
                              <div style="display: none; justify-content:center" id="bloqueSectores">
                                <div id="sectores" style="display: flex; flex-direction:column "></div>
                                <button id="btnVolverCant" type="button" class="btn btn-dark">Volver</button>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button id="btnConfirmarSectores" type="button" class="btn btn-primary disabled">Guardar Cambios</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
    </main>
    <footer style="background-color: black;">
        <p style="color: white;">@2022 Todos los derechos reservados</p>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script>
        document.querySelector("#btnOkCant").addEventListener("click", ingresarSectores)
        function ingresarSectores(e){
            e.preventDefault();
            document.querySelector("#bloqueCantSectores").style.display="none";
            document.querySelector("#bloqueSectores").style.display="flex";

            const cant = document.querySelector("#cantidad").value;
            let c;
            let html="";
            for(let i=1;i<=cant;i++){
                html+=`<input type="text" class="form-control input${i}" placeholder="Nombre sector ${i}">`
            }

            document.querySelector("#sectores").innerHTML=html
            document.querySelector("#btnConfirmarSectores").classList.remove("disabled")
        }

        document.querySelector("#btnVolverCant").addEventListener("click", volverCant)
        function volverCant(e){
            e.preventDefault();
            document.querySelector("#bloqueCantSectores").style.display="flex";
            document.querySelector("#bloqueSectores").style.display="none";
            document.querySelector("#btnConfirmarSectores").classList.add("disabled")
        }




        let provincias = document.querySelector("#selectProvincia")

        provincias.addEventListener("change", mostrarLocalidades)
        function mostrarLocalidades(e){
          e.preventDefault();
          let prov = this.value
          let html = `
          <option value="" selected>Localidad</option>
          `;

          switch(prov){
            case "CABA":{
              html+=`
              <option value="Flores">Flores</option>
              <option value="Lugano">Lugano</option>
              <option value="Caballito">Caballito</option>
              `
              break;
            }
            case "Cordoba": {
              html+=`
              <option value="Cordoba">Cordoba</option>
              <option value="Capilla Del Monte">Capilla Del Monte</option>
              <option value="Carlos Paz">Carlos Paz</option>
              `
              break;
            }
            case "Buenos Aires": {
              html+=`
              <option value="Bahia Blanca">Bahia Blanca</option>
              <option value="Lanus">Lanus</option>
              <option value="Avellaneda">Avellaneda</option>
              `
              break;
            }
            default: break;
          }
          document.querySelector(".localidades").innerHTML = html;
        }
    </script>
    <script src="/navbar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>