<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi impacto ambiental - Administrador</title>
    <link href="/organizacion/styleOrganizacion.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h1>MI IMPACTO AMBIENTAL</h1>
        <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Administrador</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse navbarLinks" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <h3 id="nombreUsuario">--NOMBRE USUARIO--</h3>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./indexAdmin.html">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Acciones
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Registrar agente sectorial</a></li>
                      <li><a class="dropdown-item" href="./registroOrg.html">Registrar organización</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../login/login.html">Cerrar sesión</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <main style="background-image: linear-gradient(to left, #5b8362, #34f03e);">
        <h1>REGISTRAR TRANSPORTE PUBLICO</h1>
        <form method = "post" action = "/administrador/{{administrador.id}}/crear_transporte_publico/{{transporte.id}}" style="display: flex; flex-direction:column; align-items:center; margin-top: 3rem;">
            <h4>Introduzca los siguientes datos</h4>
                <select name="tipo_transporte_publico" id="selectTransPub" style="margin-right: 2rem; width: 50%; margin-top: 3rem;" class="form-select" aria-label="Default select example">
                    <option value="" selected>Tipo Transporte Publico</option>
                    <option value="Tren">Tren</option>
                    <option value="Subte">Subte</option>
                    <option value="Colectivo">Colectivo</option>
                </select>
                <input name = "linea" placeholder = "Linea">
                <div style="display:flex; justify-content:center; align-items:center">
                    <button type="button" class="btn btn-lg btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        AGREGAR PARADA
                      </button>

                </div>

            <button type="submit" class="btn btn-lg" style="background-color: rgb(0, 0, 0); margin-top: 4rem; color: white;">REGISTRAR TRANSPORTE PUBLICO</button>
           </form>
            <div class="paradas"></div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h1 class="modal-title fs-5" id="exampleModalLabel">Sectores</h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        <form method = "post" action = "/administrador/{{administrador.id}}/crear_transporte_publico/{{transporte.id}}/agregar_parada" style="display: flex; flex-direction:column; align-items:center; margin-top: 3rem;">
                                            <input name="calle_parada" id="calle" style="width: 75%; margin-top: 1rem;" class="form-control" type="text" placeholder="Calle">
                                            <input name="altura_parada" id="altura" style="width: 75%; margin-top: 1rem;" class="form-control" type="text" placeholder="Altura">
                                            <select name="localidad_parada" id="localidad" style="margin-right: 2rem; width: 50%; margin-top: 3rem;" class="form-select" aria-label="Default select example">
                                                <option selected>Localidad</option>
                                                {{#each localidades}}
                                                    <option value="{{id}}">{{nombre}}</option>
                                                {{/each}}
                                            </select>
                                          <div style="display: none; justify-content:center" id="bloqueSectores">
                                            <div id="sectores" style="display: flex; flex-direction:column "></div>
                                            <button id="btnVolverCant" type="button" class="btn btn-dark">Volver</button>
                                          </div>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                          <button type="submit">Agregar</button>
                                        </div>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
    </main>
    <footer style="background-color: black;">
        <p style="color: white;">@2022 Todos los derechos reservados</p>
    </footer>
    <script>
        let paradas = []
        document.getElementById("btnAgregarParadas").addEventListener("click", agregarParada)
        function agregarParada(e){
            e.preventDefault()
            let html = "";
            paradas.push({
                calle: document.getElementById("calle").value,
                altura: document.getElementById("altura").value,
                localidad: document.getElementById("localidad").value
            })
            actualizarParadas()
        }
        function actualizarParadas(){
            let html = `
            <table style="background-color:white">
                <tr>
                    <th>Calle</th>
                    <th>Altura</th>
                    <th>Localidad</th>
                </tr>
            `
            for(let i=0;i<paradas.length;i++){
                html+=`
                    <tr>
                        <td>${paradas[i].calle}</td>
                        <td>${paradas[i].altura}</td>
                        <td>${paradas[i].localidad}</td>
                    </tr>

                    <br><br>
                `
            }
            html+="</table>"
            document.querySelector(".paradas").innerHTML = html
        }
    </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>