<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi impacto ambiental - Miembro</title>
    <link href="/miembro/styleMiembro.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <h1>MI IMPACTO AMBIENTAL</h1>
    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Miembro</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbarLinks" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <h3 id="nombreUsuario">{{miembro.nombre}}</h3>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/miembro/{{miembro.id}}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Acciones
                        </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/miembro/{{miembro.id}}/trayectos">Editar Trayectos</a></li>
                      <li><a class="dropdown-item" href="/miembro/{{miembro.id}}/organizaciones">Unirse a Organización</a></li>
                      <li><a class="dropdown-item" href="/miembro/{{miembro.id}}/hc">Calculadora HC</a></li>
                      <li><a class="dropdown-item" href="/miembro/{{miembro.id}}/reportes">Vizualizar reportes</a></li>
                    </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Login/login.hbs">Cerrar sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main style="background-image: linear-gradient(to left, #b368b3, #6e256e); display: flex; flex-direction: column; align-items: center;">
    <h1>REGISTRO DE TRAYECTOS</h1>
    <section class="bloqueTrayectos">
        <div class="nombreTrayecto" style="background-color: rgb(200, 181, 218);">
            <h4>NOMBRE DE TRAYECTO</h4>
            <div id="listaTrayectos"
            style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <table style="width: 100%;">
                <thead>

                    <tr>
                        <td>Nombre</td>
                        <td>Descripcion</td>
                        <td>Fecha (AAAA-MM-DD)</td>
                        <td>Cantidad de tramos</td>
                    </tr>
                </thead>
                <tbody>
                {{#each trayectos}}
                    <tr>
                        <td>{{nombre}}</td>
                        <td>{{descripcion}}</td>
                        <td>{{fecha}}</td>
                        <td>{{cantidadTramos}}</td>
                        <td>
                        <a type="button" class="btn btn-lg" href="trayectos/{{id}}/editar"
                                        style="background-color: rgb(212, 211, 211);">EDITAR TRAYECTO</a>
                        </td>
                        <td>
                        <form method = "post" action = "trayectos/{{id}}/eliminar">
                        <button type="submit" class="btn btn-lg"
                                        style="background-color: rgb(184, 9, 9);">ELIMINAR TRAYECTO</button>
                        </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            </div>
        </div>
    </section>
    <section style="width: 100%;">
        <div style="display: flex; justify-content: space-around;">
            <a href="trayectos/agregar" type="button" class="btn btn-lg"
                style="background-color: rgb(4, 197, 45); margin-top: 1rem;">AGREGAR TRAYECTO</a>
        </div>
    </section>
</main>
<footer style="background-color: black;">
    <p style="color: white;">@2022 Todos los derechos reservados</p>
</footer>
<!-- JavaScript Bundle with Popper -->
<script src="../../Public/miembro/editarTrayectos.js"></script>
<script src="../../Public/navbar.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
</body>
</html>