    <!DOCTYPE html>
    <html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mi impacto ambiental - Organizacion</title>
        <link href="/organizacion/styleOrganizacion.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    <header>
            <h1>MI IMPACTO AMBIENTAL</h1>
            <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Organización</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                 <div class="collapse navbar-collapse navbarLinks" id="navbarSupportedContent">
                                 <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                     <li class="nav-item">
                                         <h3 id="nombreUsuario">{{organizacion.nombre}}</h3>
                                     </li>
                                   <li class="nav-item">
                                     <a class="nav-link active" aria-current="page" href="/organizaciones/{{organizacion.id}}">Home</a>
                                   </li>
                                   <li class="nav-item dropdown">
                                     <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                       Acciones
                                     </a>
                                     <ul class="dropdown-menu">
                                       <li><a class="dropdown-item" href="/organizaciones/{{organizacion.id}}/registro_mediciones">Registrar medición</a></li>
                                       <li><a class="dropdown-item" href="/organizaciones/{{organizacion.id}}/aceptar_vinculacion">Aceptar vinculación</a></li>
                                       <li><a class="dropdown-item" href="/organizaciones/{{organizacion.id}}/recomendaciones">Ver recomendaciones</a></li>
                                       <li><a href="/organizaciones/{{organizacion.id}}/hc" class="dropdown-item">Calculadora HC</a></li>
                                       <li><a href="/organizaciones/{{organizacion.id}}/reportes" class="dropdown-item">Visualizar reportes</a></li>
                                     </ul>
                                   </li>
                                   <li class="nav-item">
                                     <a class="nav-link" href="/logout">Cerrar sesión</a>
                                   </li>
                                 </ul>
                               </div>
                </div>
              </nav>
        </header>
        <main style="background-image: linear-gradient(to left, #3aa6b9, #1647e9); height: 2000px;  display: flex; flex-direction: column; align-items: center;">
            <h1>REPORTES</h1>
            <div>
            <form method = "post" action = "reportes">
            <select id="valueTipoReporte" class="form-select tipoReporte" aria-label="Default select example" name ="tipo_reporte">
                                                    <option selected value="">Tipo Reporte</option>
                                                    <option value="composicion">Composicion</option>
                                                    <option value="evolucion">Evolucion</option>
            </select>
            <div id="formPeriodo">
            </div>

                             <button type="submit" class="btn btn-light btn-lg">Obtener reporte</button>

            </form>
            </div>
            <p id="nombres" style="display: none;">{{nombres}}</p>
            <p id="valores" style="display: none;">{{valores}}</p>
{{!-- <div id="valueBack">{{reportes}}</div> --}}

                 <div style="width: 50%; background-color: white;" id="grafCOMP">
<h1>GRAFICO COMPOSICION</h1>
                    <canvas id="graficaComp"></canvas>
                </div>

                                 <div style="width: 50%; background-color: white;" id="grafEV">
<h1>GRAFICO EVOLUCION</h1>
                                     <canvas id="graficaEv"></canvas>
                              </div>
        </main>
        <footer style="background-color: black;">
            <p style="color: white;">@2022 Todos los derechos reservados</p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                let nombres = JSON.parse(document.getElementById("nombres").innerHTML);
                        let valores = JSON.parse(document.getElementById("valores").innerHTML);

                        let graficaComp = document.getElementById("graficaComp");


                                const dataComp = {
                                    labels: nombres,//NOMBRES DE LOS SECTORES
                                    datasets: [{
                                        label: 'Huella de Carbono',
                                        data: valores,//VALORES DE HC DE LOS SECTORES
                                        backgroundColor: [
                                        'rgb(206, 24, 24)',
                                                               'rgb(20, 20, 216)',
                                                                'rgb(213, 216, 20)',
                                                                "rgb(20, 216, 30)",
                                                                "rgb(183, 20, 216)",
                                                                "rgb(20, 193, 216)",
                                                                "rgb(216, 131, 20)",
                                                                "rgb(162, 226, 11)",
                                                                "rgb(122, 11, 226)",
                                                                "rgb(12, 58, 0)",
                                                                "rgb(56, 5, 5)",
                                                                "rgb(65, 65, 90)",
                                                                "tomato",
                                                                "teal",
                                                                "cornflowerblue",
                                                                "navy"
                                        ],
                                        hoverOffset: 4
                                    }]
                                };
                                const configComp = {
                                    type: 'doughnut',
                                    data: dataComp,
                                };
                                var chartComp = new Chart(graficaComp, configComp)




                        let graficaEv = document.getElementById("graficaEv");

                        console.log(nombres)
                        console.log(valores)

                        const dataEv = {
                        labels: nombres,
                        datasets: [{
                            label: 'My First Dataset',
                            data: valores,
                            fill: false,
                            borderColor: 'rgb(75, 192, 192)',
                            tension: 0.1
                        }]
                        };

                        const configEv = {
                            type: 'line',
                            data: dataEv,
                        };

                        var chartEv = new Chart(graficaEv, configEv)
            </script>
        <script>
                        let rep = document.querySelector("#tipoReporte").innerHTML
                        if(rep == "composicion"){
                            document.getElementById("grafEV").style.display="none";
                            document.getElementById("grafCOMP").style.display="none";
                        }
                        else if(rep == "evolucion"){
                            document.getElementById("grafEV").style.display="block";
                            document.getElementById("grafCOMP").style.display="none";
                        }

                       </script>
        <script>
            let tiposReporte = document.querySelector(".tipoReporte")
            tiposReporte.addEventListener("change", cambiarTipoReporte)
            function cambiarTipoReporte(e){
            e.preventDefault()
            let tipo = this.value
            let html = ``;
                        switch(tipo){
                          case "composicion":{
                            html+=`
                                <select id="valueMes" class="form-select" aria-label="Default select example" name ="mes">
                                    <option selected value="">Mes</option>
                                    <option value="1">Enero</option>
                                    <option value="2">Febrero</option>
                                    <option value="3">Marzo</option>
                                    <option value="4">Abril</option>
                                    <option value="5">Mayo</option>
                                    <option value="6">Junio</option>
                                    <option value="7">Julio</option>
                                    <option value="8">Agosto</option>
                                    <option value="9">Septiembre</option>
                                    <option value="10">Octubre</option>
                                    <option value="11">Noviembre</option>
                                    <option value="12">Diciembre</option>
                                </select>
                                <input type="number" class="form-control" id="" placeholder="Año" name= "anio">
                                <select id="valueTipoReporte" class="form-select" aria-label="Default select example" name ="tipo_periodicidad">
                                    <option selected value="">Tipo Periodicidad</option>
                                    <option value="MENSUAL">Mensual</option>
                                    <option value="ANUAL">Anual</option>
                                </select>
                            `
                            break;
                          }
                          default: break;
                        }
                          document.querySelector("#formPeriodo").innerHTML = html;
                      }
        </script>

        <script src="../../Public/navbar.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>
    </html>